body {
  font-size: 14px;
}

ol,
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.dropdown-caret {
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top-style: solid;
  border-top-width: 4px;
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.dropdown-divider {
  border-top: 1px solid #d0d7de;
  display: block;
  height: 0;
  margin: 8px 0;
}

.f5 {
  font-size: 14px !important;
}
.f6 {
  font-size: 12px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600 !important;
}

.h4 {
  font-size: 16px;
}

.issue-milestone {
  margin-left: 8px;
  max-width: 240px;
}

.issue-milestone .truncate-target {
  display: inline-block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.paginate-container {
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: center;
}

.text-small {
  font-size: 12px !important;
}

.underlineNav {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.v-align-middle {
  vertical-align: middle !important;
}
